{{define "children"}}
<div class='w-screen h-screen flex flex-col items-center justify-center'>
	<style>
		.htmx-request {
			opacity: 1;
			position: relative;
			padding: 5px;
		}
	</style>
	<p>User signed in: {{.useremail}}</p>
	<button hx-post="." hx-target="#target" hx-swap="innerHTML" hx-indicator="#indicator" hx-disabled-elt="this"
		class="uk-button uk-button-primary">toast<div id='indicator' class="htmx-indicator absolute" uk-spinner>
		</div>
	</button>
	<button hx-post="/logout" hx-swap="none" hx-trigger='click' hx-on="htmx:afterRequest: location.reload()"
		class='uk-button uk-button-danger'>
		log out
	</button>
	<div id="target">
	</div>
</div>
{{end}}
